In [6]:
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd

In [7]:
# defining the table
buyer = pd.read_csv("C:/Users/kiran/Desktop/Assignments/Hypothesis Testing/BuyerRatio.csv")
buyer.data = buyer.iloc[:,1:]
buyer.data

<ipython-input-7-e9d6971a04c1>:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  buyer.data = buyer.iloc[:,1:]

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [8]:
stat, p, dof, expected = chi2_contingency(buyer.data)

In [11]:
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('We reject the Null Hypothesis as p<0.05')
else:
    print('We accept the Null Hypothesis as p>0.05)')

p value is 0.6603094907091882
We accept the Null Hypothesis as p>0.05)