In [1]:
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd

In [14]:
# defining the table
cust = pd.read_csv("C:/Users/kiran/Desktop/Assignments/Hypothesis Testing/Solution/CustomerOrderForm.csv")
cust.data = cust.iloc[:,1:]
cust.data

<ipython-input-14-26e53a29b6e9>:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  cust.data = cust.iloc[:,1:]

   Phillipines  Indonesia  Malta  India
0          271        267    269    280
1           29         33     31     20

In [15]:
stat, p, dof, expected = chi2_contingency(cust.data)

In [16]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [17]:
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('We reject the Null Hypothesis as p<0.05')
else:
    print('We accept the Null Hypothesis as p>0.05)')

p value is 0.2771020991233135
We accept the Null Hypothesis as p>0.05)