In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
data = pd.read_csv("C:/Users/kiran/Desktop/Assignments/Hypothesis Testing/Solution/Cutlets.csv")

In [3]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [8]:
UnitA = data.iloc[:,0]

In [9]:
UnitB = data.iloc[:,1]

In [12]:
stats.ttest_ind(UnitA,UnitB)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

#As p-value is greater than 0.05, we accept the null hypothesis